<mat-form-field class="example-full-width">
  <input
    id="test1"
    (change)="searchValue($event)"
    matInput
    placeholder="Ex. Pizza"
  />
</mat-form-field>
<button mat-raised-button>Basic</button>
<mat-tab-group (selectedTabChange)="filteredCardByTabs($event)">
  <mat-tab label="All"></mat-tab>
  <div *ngFor="let item of tabsMenu">
    <mat-tab label="{{ item }}"></mat-tab>
  </div>
</mat-tab-group>
<div style="padding: 20px">
  <div style="text-align: center">
    <mat-grid-list cols="8" gutterSize="8" rowHeight="3:4">
      <mat-grid-tile
        *ngFor="let head of data"
        style="position: absolute; left: 50%"
      >
        <mat-card
          style="
            height: 80%;
            width: 5000px;
            border: 1px solid blue;
            border-radius: 20px;
            background-color: #275361;
          "
        >
          <p
            style="
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-align: center;
              color: whitesmoke;
              text-overflow: ellipsis;
            "
          >
            <b>{{ head.short_name }}</b>
          </p>
          <mat-divider
            inset="“true”"
            style="background-color: whitesmoke; margin-top: -10px"
          ></mat-divider>
          <p
            style="
              text-align: center;
              font-size: 11px;
              width: 140px;
              color: whitesmoke;
            "
          >
            {{ head.long_name }}
          </p>
          <p style="text-align: center; margin-top: -10px; color: whitesmoke">
            level {{ head.rncp_level }}
          </p>
          <p style="text-align: center; margin-top: -10px; color: whitesmoke">
            {{ head.certifier ? head.certifier.short_name : "" }}
          </p>
          <div style="text-align: center">
            <i
              class="fas fa-circle"
              [ngStyle]="{ color: head.is_published ? 'green' : 'red' }"
            ></i>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
